{% extends "default.html" %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<header class="header">
  <h1 class="headline">classcollabs <br> <small>Where classmates go to get help</small></h1>
  {% if user.is_authenticated %}
    <p class="topright"><a class="logoutcolor" href="/logout/">Logout</a></p>
    <p class="topleft"><a class="homecolor" href="/classes/">Home</a></p>
  {% else %}
    <p class="topright"><a class="logoutcolor" href="/login/">Log In</a></p>
  {% endif %}
</header><br>

<div class="row">
  <div class="medium-6 large-centered columns">
    <form>{% csrf_token %}
      <div class="row column">
        <h4 class="text-center">Join a class</h4>
        <div>
          <form action="" method="GET">
            <div id="course_list">
              <select id="courses">
                {% for object in class_list %}
                  <option>{{ object.course }}</option>
                {% endfor %}
              </select>
            </div>
          </form>
        </div><br>
        <p style="text-align: center;"><a type="submit" class="button">Join class</a></p>
        <p><a type="submit" class="button expanded">Send a request to add your class</a></p><br>
      </div>
    </form>
  </div>
</div>

<hr>

{% endblock %}

{% block script %}
{% endblock script %}
