{% extends "default.html" %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<header class="header">
  <h1 class="headline">classcollabs <br> <small>Where classmates go to get help</small></h1>
  {% if user.is_authenticated %}
    <p class="topright"><a class="logoutcolor" href="/logout/">Logout</a></p>
  {% else %}
    <p class="topright"><a class="logoutcolor" href="/login/">Log In</a></p>
  {% endif %}
</header><br>

<div class="row">
  <div class="medium-6 large-centered columns">
    <form>{% csrf_token %}
      <div class="row column">
        <h4 class="text-center">Welcome back, {{ user }}!</h4>
        <div class="classlist">
          <form action="" method="GET">
            <div id="course_list">
              <ul id="courses">
                {% for object in class_list %}
                  <li><a href="/discBoard/">{{ object.course }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </form>
        </div><br>
        <h5 class="text-center">Don't see your class?</h5><br>
        <p><a href="/classSearch/" class="button expanded">Click here to search</a></p>
      </div>
    </form>
  </div>
</div>

<hr>

{% endblock %}

{% block script %}
{% endblock script %}
