{% extends "default.html" %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<header class="header">
  <h1 class="headline">classcollabs <br> <small>Where classmates go to get help</small></h1>
  {% if user.is_authenticated %}
    <p class="topright"><a class="logoutcolor" href="/logout/">Logout</a></p>
    <p class="topleft"><a class="homecolor" href="/classes/">Home</a></p>
  {% else %}
    <p class="topright"><a class="logoutcolor" href="/login/">Log In</a></p>
  {% endif %}
</header><br>

<div class="row">
  <div class="medium-8 large-centered columns">
    <!-- <form> -->
      <div class="row column log-in-form">
        <h4 class="text-center">Class Discussion Board</h4>
        <div class="discboard">

        </div><br>
        <div class="row">
          <div class="large-9 columns">
            <input type="text" style="width:100%" placeholder="Enter your comment here">
          </div>
          <div class="large-3 columns">
            <a type="submit" class="button" style="width:100%">Post</a>
          </div>
          <p class="text-center"><a href="/message/">Click here to send a classmate a message!</a></p>
        </div>
      </div>
    <!-- </form> -->
  </div>
</div>

<hr>

{% endblock %}
