{% extends "default.html" %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<header class="header">
  <h1 class="headline">classcollabs <br> <small>Where classmates go to get help</small></h1>
  {% if user.is_authenticated %}
    <p class="topright"><a class="logoutcolor" href="/logout/">Logout</a></p>
    <p class="topleft"><a class="homecolor" href="/classes/">Home</a></p>
  {% else %}
    <p class="topright"><a class="logoutcolor" href="/login/">Log In</a></p>
  {% endif %}
</header><br>

<div class="row">
  <form>{% csrf_token %}
    <div class="small-6 large-2 columns">
      <h5><u> Online classmates </u></h5>
      <ul>
        {% for user in users %}
          <li data-username="{{ user.username }}">
            {{ user.username }}: {{ user.status }}
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="small-6 large-8 columns">
      <h4 class="text-center">Class Discussion Board</h4>
      <div class="discboard">
        <pre id="billboard" style="overflow-y: auto; height: 15em;"></pre>
      </div><br>

      <div class="row">
        <div "form-inline">
          <div class="large-9 columns">
            <input type="text" class="form-control" style="width:100%" id="text_message" placeholder="Enter your message here">
          </div>
          <div class="large-3 columns">
            <button class="button" type="button" style="width:100%" id="send_message">Post message</button>
          </div>
          <div>
            <p class="text-center"><a href="/message/">Click here to send a classmate a message!</a></p>
          </div>
        </div>
      </div>

    </div>

    <div class="small-12 large-2 columns"><!-- Empty div to have 2-8-2 grid --></div>
  </form>
</div>

<hr>

{% endblock %}

{% block script %}
{% endblock script %}
