{% extends "default.html" %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<header class="header">
  <h1 class="headline">classcollabs <br> <small>Where classmates go to get help</small></h1>
  {% if user.is_authenticated %}
    <p class="topright"><a class="logoutcolor" href="/logout/">Logout</a></p>
    <p class="topleft"><a class="homecolor" href="/classes/">Home</a></p>
  {% else %}
    <p class="topright"><a class="logoutcolor" href="/login/">Log In</a></p>
  {% endif %}
</header><br>

<div class="row">
  <form>{% csrf_token %}
    <div class="small-6 large-2 columns">
      <h5><u> Online classmates </u></h5>
      <ul>
        {% for user in users %}
          <li data-username="{{ user.username }}">
            {{ user.username }}: {{ user.status }}
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="small-6 large-8 columns">
      <h4 class="text-center">Class Discussion Board</h4>
      <div class="discboard">
        <p>
        </p><br>
      </div><br>
      <div class="row">
        <div class="large-9 columns">
          <input type="text" style="width:100%" placeholder="Enter your comment here">
        </div>
        <div class="large-3 columns">
          <a type="submit" class="button" style="width:100%">Post</a>
        </div>
        <p class="text-center"><a href="/message/">Click here to send a classmate a message!</a></p>
      </div>
    </div>
    <div class="small-12 large-2 columns"><!-- Empty div to have 2-8-2 grid --></div>
  </form>
</div>

<hr>

{% endblock %}

{% block script %}
{% endblock script %}
