{% extends "default.html" %}
{% load static %}

{% block title %}Log in
{% endblock %}

{% block content %}
<header class="header">
  <h1 class="headline">classcollabs <br> <small>Where classmates go to get help</small></h1>
  {% if user.is_authenticated %}
    <p class="topright"><a class="logoutcolor" href="/logout/">Logout</a></p>
  {% endif %}
</header><br>

<div class="row">
  <div class="medium-6 medium-centered large-4 large-centered columns">
    <form method="POST" action="">
      {% csrf_token %}
      <div class="row column log-in-form">
        <h4 class="text-center">Log in to your account</h4>
        {{ form.errors }}
        <label>{{ form.username.label_tag }}</label>
          {{ form.username }}

        <label>{{ form.password.label_tag }}</label>
          {{ form.password }}

        <!-- <label>Username
          <input type="text" placeholder="Username">
        </label>
        <label>Password
          <input type="text" placeholder="Password">
        </label> -->
        <input type="submit" class="button expanded" value="Login"><br>
        <p class="text-center"><a href="/register/">Not registered? Sign up now!</a></p>
      </div>
    </form>
  </div>
</div>

<hr>

{% endblock %}
