{% extends "default.html" %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<header class="header">
  <h1 class="headline">classcollabs <br> <small>Where classmates go to get help</small></h1>
  <p class="topleft"><a class="homecolor" href="/">Home</a></p>
  {% if user.is_authenticated %}
    <p class="topright"><a class="logoutcolor" type="submit">Logout</a></p>
  {% else %}
    <p><a href="/home/">Log In</a></p>
  {% endif %}
</header><br>

<div class="row">
  <div class="medium-8 large-centered columns">
    <!-- <form> -->
      <!-- change log-in-form -->
      <div class="row column log-in-form">
        <h4 class="text-center">Messaging Center</h4>
        <div class="discboard">
          <p>If user is authenticated the home link takes them to the class listings page,<br>
            and only show logout if user is authenticated, display classes just like
            the comments and allow users to pick which one to join</p>
        </div><br>

        <div class="row">
          <div class="large-9 columns">
            <input type="text" style="width:100%" placeholder="Search here for a classmate">
          </div>
          <div class="large-3 columns">
            <a type="submit" class="button" style="width:100%">Send</a>
          </div>
        </div>
      </div>
    <!-- </form> -->
  </div>
</div>

<hr>

<!-- <form method="post" action="{% url 'register' %}">
</form> -->

{% endblock %}
