{% extends "default.html" %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<header class="header">
  <h1 class="headline">classcollabs <br> <small>Where classmates go to get help</small></h1>
  {% if user.is_authenticated %}
    <p class="topright"><a class="logoutcolor" href="/logout/">Logout</a></p>
  {% else %}
    <p class="topright"><a class="logoutcolor" href="/login/">Log In</a></p>
  {% endif %}
</header><br>

<div class="row">
  <div class="medium-6 medium-centered large-4 large-centered columns">
    <form method="post" action="{% url 'register' %}">{% csrf_token %}
      <div class="row column log-in-form">
        <h4 class="text-center">Create your account</h4>
        {{ form.errors }}

        <label>{{ form.username.label_tag }}</label>
          {{ form.username }}
        <label>{{ form.email.label_tag }}</label>
          {{ form.email }}
        <label>{{ form.password1.label_tag }}</label>
          {{ form.password1 }}
        <label>{{ form.password2.label_tag }}</label>
          {{ form.password2 }}

        <input type="submit" class="button expanded" value="Sign up" ><br>
      </div>
    </form>
  </div>
</div>

<hr>

{% endblock %}

{% block script %}
{% endblock script %}
